.pagination {
  ul {
    li {
      box-sizing: border-box !important;
      min-width: min-content;

      a {
        padding-left: 10px;
        padding-right: 10px;
      }
      &.current {
        cursor: not-allowed!important;
        pointer-events: none;
      }
      &.disabled {
        opacity: 0.6;
        cursor: not-allowed!important;
        pointer-events: none;
      }
    }

  }
}
