.modal-content {
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-body h5 {
    font-weight: bold;
  }
  
  .modal-body p {
    color: #6c757d; /* Light gray for secondary text */
  }
  
  .modal-footer .btn-danger {
    background-color: #ff4a5b;
    border-color: #ff4a5b;
  }
  
  .modal-footer .btn-secondary {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #6c757d;
  }
  
  .modal-footer .btn-danger:hover {
    background-color: #ff3b4e;
  }
  
  .modal-footer .btn-secondary:hover {
    background-color: #e2e6ea;
  }