textarea#aiPrompt {
  width: 100%;
  overflow: hidden;
  resize: none;
  padding: 1.2rem 1.4rem;
  font-size: 1.05rem;
  border-radius: 1rem;
  border: 1px solid #ddd;
  line-height: 1.6;
}

textarea#search:focus {
  box-shadow: 0 0 10px rgba(184, 44, 71, 0.2);
  border-color: #b82c47;
}

.filter-chip {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  font-size: 0.9rem;
  color: rgb(135 106 111 / 55%);
  ;
  background: linear-gradient(135deg, #b82c4700, #e34e6740);
  border: 2px solid transparent;
  border-radius: 999px;
  background-clip: padding-box;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(184, 44, 71, 0.2);
  font-weight: 400;
  cursor: pointer;

  &.selected {
    color: #7d2c3a;
  }

  &:hover {
    box-shadow: 0 0 12px rgba(184, 44, 71, 0.35);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 999px;
    padding: 2px;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    background: rgb(135 106 111 / 55%);

  }

  &.selected {
    &::before {
      background: linear-gradient(135deg, #f87171, #b82c47);
    }
  }
}

.chip-close {
  background: none;
  border: none;
  font-size: 1.1rem;
  line-height: 1;
  color: #fff;
  margin-left: 4px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.chip-close:hover {
  color: #ffe2e8;
}

.chip-badge {
  background-color: white;
  color: #b82c47;
  font-size: 0.65rem;
  padding: 2px 6px;
  border-radius: 999px;
  margin-left: 6px;
  font-weight: 600;
}

.btn-submit {
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #b82c47, #e34e67);
  color: white;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(184, 44, 71, 0.3);
  transition: background 0.3s ease, transform 0.2s;

  &:disabled {
    background: rgba(64, 87, 109, .07) !important;
    color: rgba(36, 49, 61, .4) !important;
  }

  &:hover {
    background: linear-gradient(135deg, #a81b3f, #cc2e5b);
    transform: scale(1.05);
  }
}

.btn-clear {
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(17, 23, 29, .5);
  color: #fff;
  border: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease, transform 0.2s;
}

.btn-clear:hover {
  background: rgba(17, 23, 29, .8);
  transform: scale(1.05);
}

.ai-search-area {
  overflow: hidden;
  transition: max-height 0.8s cubic-bezier(0.3, 0.06, 0.07, 1.02), opacity 0.3s ease;

  // Expanded state
  max-height: 500px; // Choose a value larger than expected content height

  &.hidden {
    opacity: 0;
    max-height: 0;
    margin: 0;
  }
}
