
<!-- Header Area End Here -->
<!-- Breadcrumb Area Start Here -->
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Shop Fullwidth</h3>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Collections</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Shop Main Area Start Here -->
<div class="shop-main-area">
    <div class="container container-default custom-area">
        <div class="row flex-row-reverse">
            <div class="col-12 col-custom widget-mt">
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper mb-30">
                    <div class="shop_toolbar_btn">
                        <button data-role="grid_4" type="button" class="active btn-grid-4" title="Grid-4"><i class="fa fa-th"></i></button>
                        <button data-role="grid_3" type="button" class="btn-grid-3" title="Grid-3"> <i class="fa fa-th-large"></i></button>
                        <button data-role="grid_list" type="button" class="btn-list" title="List"><i class="fa fa-th-list"></i></button>
                    </div>
                    <div class="shop-select">
                        <form class="d-flex flex-column w-100" action="#">
                            <div class="form-group">
                                <select class="form-control nice-select w-100">
                                    <option selected value="1">Alphabetically, A-Z</option>
                                    <option value="2">Sort by popularity</option>
                                    <option value="3">Sort by newness</option>
                                    <option value="4">Sort by price: low to high</option>
                                    <option value="5">Sort by price: high to low</option>
                                    <option value="6">Product Name: Z</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <!--shop toolbar end-->
                <!-- Shop Wrapper Start -->
                <div class="row shop_wrapper grid_4">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/rose1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/rose2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Rose</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Rose</a></h4>
                                    </div>
                                    <p class="desc-content">Roses symbolize love and romance, making them a favorite choice for various occasions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/sunflower1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/sunflower2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Sunflower</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Sunflower</a></h4>
                                    </div>
                                    <p class="desc-content">Sunflowers are known for their large blooms and their ability to follow the sun.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/hydrangea1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/hydrangea2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Hydrangea</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Hydrangea</a></h4>
                                    </div>
                                    <p class="desc-content">Hydrangeas are beloved for their large, beautiful clusters of flowers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/lavender1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/lavender2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Lavender</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Lavender</a></h4>
                                    </div>
                                    <p class="desc-content">Lavender is widely known for its soothing fragrance and calming properties.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/peony1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/peony2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Peony</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Peony</a></h4>
                                    </div>
                                    <p class="desc-content">Peonies are cherished for their large, soft petals and vibrant colors.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/daisy1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/daisy2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Daisy</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Daisy</a></h4>
                                    </div>
                                    <p class="desc-content">Daisies are simple, yet elegant flowers often representing purity and innocence.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/orchid1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/orchid2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Orchid</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Orchid</a></h4>
                                    </div>
                                    <p class="desc-content">Orchids are exotic flowers, admired for their beauty and uniqueness.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/tulip1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/tulip2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Tulip</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Tulip</a></h4>
                                    </div>
                                    <p class="desc-content">Tulips are vibrant and often associated with spring and fresh starts.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/lily1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/lily2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Lily</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Lily</a></h4>
                                    </div>
                                    <p class="desc-content">Lilies are admired for their elegance and often symbolize purity and renewal.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/chrysanthemum1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/chrysanthemum2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Chrysanthemum</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Chrysanthemum</a></h4>
                                    </div>
                                    <p class="desc-content">Chrysanthemums are widely appreciated for their beauty and diversity in colors.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/dahlia1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/dahlia2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Dahlia</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Dahlia</a></h4>
                                    </div>
                                    <p class="desc-content">Dahlias are striking flowers known for their bright and complex petals.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/daffodil1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/daffodil2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Daffodil</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Daffodil</a></h4>
                                    </div>
                                    <p class="desc-content">Daffodils are bright yellow flowers symbolizing new beginnings and optimism.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/iris1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/iris2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Iris</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Iris</a></h4>
                                    </div>
                                    <p class="desc-content">Irises are elegant flowers, often representing faith and wisdom.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 col-custom product-area">
                        <div class="product-item">
                            <div class="single-product position-relative mr-0 ml-0">
                                <div class="product-image">
                                    <a routerLink="/search" class="d-block">
                                        <img src="assets/images/category/azalea1.png" alt="" class="product-image-1 w-100">
                                        <img src="assets/images/category/azalea2.png" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Azalea</a></h4>
                                    </div>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-title">
                                        <h4 class="title-2"><a>Azalea</a></h4>
                                    </div>
                                    <p class="desc-content">Azaleas are beautiful flowering shrubs that bloom in a variety of vivid colors.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Shop Wrapper End -->
                <!-- Bottom Toolbar Start -->
                <div class="row">
                    <div class="col-sm-12 col-custom">
                        <div class="toolbar-bottom">
                            <div class="pagination">
                                <ul>
                                    <li class="current">1</li>
                                    <li><a>2</a></li>
                                    <li><a>3</a></li>
                                    <li class="next"><a>next</a></li>
                                    <li><a>&gt;&gt;</a></li>
                                </ul>
                            </div>
                            <p class="desc-content text-center text-sm-right mb-0">Showing 1 - 12 of 34 result</p>
                        </div>
                    </div>
                </div>
                <!-- Bottom Toolbar End -->
            </div>
        </div>
    </div>
</div>