::ng-deep {
    form {
        fieldset {
            .ng-otp-input-wrapper {
                display: flex;
                width: 100%;
                gap: 10px;
                justify-content: center;
                height: 50px;
                input {
                    padding: 12px 10px;
                    border: 1px solid #dddddd;
                    max-width: 50px;
                    width: 100%;
                    &:focus {
                      outline: none;
                      border: 2px solid #dc3545!important;
                    }
                }
            }
        }
    }
}